################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mpp-fullstack-app-backend/FileContentIndex
/mmp-prj/.vs/mmp-prj/FileContentIndex
